# Summary Statistics

Imports

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats

Sample Dataset

In [3]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Mean

In [4]:
np.mean(df['tip'])

2.99827868852459

In [5]:
df['tip'].mean()

2.99827868852459

### Median

In [6]:
np.median(df['tip'])

2.9

In [7]:
df['tip'].median()

2.9

### Mode

In [8]:
stats.mode(df['tip'])

ModeResult(mode=2.0, count=33)

### Variance

In [9]:
np.var(df['tip'])

1.9066085124966412

### Standard Deviation

In [10]:
np.std(df['tip'])

1.3807999538298954

### Range

In [11]:
np.min(df['tip'])

1.0

In [12]:
np.max(df['tip'])

10.0

### Quantiles

Percentiles and Quantiles

#### Percentile

Divides data into 100 equal parts

In [13]:
np.percentile(df['tip'], 99)

7.214499999999995

#### Quartile

Divides data into 4 equal parts

In [14]:
print(np.quantile(df['tip'], 0.25))
print(np.quantile(df['tip'], 0.50))
print(np.quantile(df['tip'], 0.75))

2.0
2.9
3.5625

## IQR

Manual method

In [15]:
q1 = np.quantile(df['tip'], 0.25)
q3 = np.quantile(df['tip'], 0.75)
iqr = q3 - q1
iqr

1.5625

Using library

In [16]:
stats.iqr(df['tip'])

1.5625

Lower whisker

In [20]:
q1 - 1.5 * iqr

-0.34375

Upper whisker

In [18]:
q3 + 1.5 * iqr

5.90625

### One Step Summary

In [19]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000