# Playground

In [1]:
import numpy as np
import pandas as pd

In [64]:
time_index = pd.date_range(start='06/06/2007', periods=100000, freq='30s')

In [65]:
data = np.random.randint(low=1, high=11, size=100000)

In [66]:
df = pd.DataFrame(data=data , index=time_index)

In [88]:
df.resample('3m').sum()

                 0
2007-06-30  396619
2007-09-30  154108