# Playground

In [1]:
import numpy as np
import pandas as pd
import random

In [183]:

df = pd.DataFrame({ 
    chr(i): np.random.randint(1, i+1, 10) \
        for i in range(97, 122) 
})

df

# df =pd.DataFrame({'A': [1, 2, 3]})

,a,b,c,d,e,f,g,h,i,j,...,p,q,r,s,t,u,v,w,x,y
0,41,87,21,89,17,20,96,78,41,5,...,38,97,11,44,10,7,116,102,14,42
1,45,15,4,62,79,1,82,62,72,69,...,74,45,59,43,87,61,64,99,71,72
2,50,29,98,91,20,29,32,40,76,16,...,91,54,52,80,108,14,68,12,40,35
3,60,41,24,44,21,53,40,40,76,79,...,80,15,96,54,73,111,46,24,59,57
4,77,87,6,97,54,96,30,58,46,77,...,96,42,49,37,40,39,74,59,34,106
5,76,67,35,75,75,98,100,64,17,74,...,60,85,42,101,81,104,93,104,98,82
6,11,74,56,44,9,70,92,95,32,54,...,49,72,10,4,73,109,16,5,68,100
7,77,79,77,53,29,50,52,84,66,88,...,111,100,90,79,68,51,80,73,80,13
8,49,54,28,91,54,63,35,94,3,18,...,5,11,49,20,46,21,8,60,96,107
9,59,81,8,15,45,77,3,90,86,62,...,48,28,68,19,22,109,8,57,10,76

In [100]:
df.loc[[3, 6], 'd':'i']

    d   e   f   g   h    i
3  62   8  93   7  45  103
6  96  25  67  71  32   10

In [11]:
df['A'].apply(lambda x: (x- 1, x + 1))

0    (0, 2)
1    (1, 3)
2    (2, 4)
Name: A, dtype: object

In [64]:
time_index = pd.date_range(start='06/06/2007', periods=100000, freq='30s')

In [65]:
data = np.random.randint(low=1, high=11, size=100000)

In [66]:
df = pd.DataFrame(data=data , index=time_index)

In [88]:
df.resample('3m').sum()

                 0
2007-06-30  396619
2007-09-30  154108

In [25]:
df = pd.read_csv(
    'C:\\Users\\1987698\\Desktop\\PACS App\\data\KYC_DETAILS_DATA_TABLE.csv', 
    encoding='Windows-1251',
    dtype={
        'CIF_NO': pd.StringDtype(),
        'CUSTOMER_TYPE': pd.CategoricalDtype()
    })

C:\Users\1987698\AppData\Local\Temp/ipykernel_120/1117867912.py:1: DtypeWarning: Columns (2,16,30,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

In [37]:
df['RELIGION'].unique()

array([1, 2, 8, 3, 6, 5, 4, 7], dtype=int64)

In [198]:
print('\n'.join(df.columns))

CIF_NO
CUSTOMER_TYPE
LINKED_SB_ACCNO
TITLE
FIRST_NAME
MIDDLE_NAME
LAST_NAME
GUARDIAN_NAME
ADDRESS_1
ADDRESS_2
ADDRESS_3
DISTRICT
CITY
STATE
BIRTH_DATE
GENDER
MOBILE_NO
ID_TYPE
ID_NO
ID_ISSUE_DATE
ID_ISSUED_AT
CBS_BR_CODE
KYC_CREATION_DATE
SHARE_AMOUNT_DUE
SHARE_AMOUNT_PAID
BLOCK
PHOTO_UPLOADED
SIG_PHOTO
RELIGION
CASTE
EMAIL_ID
BANK_CIF
ALIVE_DEAD
DATE_OF_DEATH

In [140]:
cols = [0,2,16,30,33]
print('\n'.join(df.columns[cols]))
# df.head()

CIF_NO
LINKED_SB_ACCNO
MOBILE_NO
EMAIL_ID
DATE_OF_DEATH

In [185]:
df['CIF_NO'].str.strip().str.isnumeric().value_counts(dropna=False)

CIF_NO
NaN      2269110
True      149530
False      14310
Name: count, dtype: int64

In [186]:
df['CIF_NO'][df['CIF_NO'].str.strip().str.isnumeric() == True]

16384      06107071510079604
16385      06107071510079606
16386      06107071510079637
16387      06107071510079651
16388      06107071510079655
                 ...
1228795    15001079380001669
1228796    15001079380001668
1228797    15001079380001667
1228798    15001079380001666
1228799    15001079380001665
Name: CIF_NO, Length: 149530, dtype: object

In [190]:
print(
    type(df['CIF_NO'].iloc[0]),
    type(df['CIF_NO'].iloc[16384])
)

<class 'str'> <class 'str'>

In [195]:
df['CIF_NO'].nunique()

2432950

In [189]:
df['CIF_NO'] = df['CIF_NO'].astype(pd.StringDtype()).str.strip()

In [199]:
df['LINKED_SB_ACCNO']

0          170200000786.0
1          170200000920.0
2          170200000942.0
3          170200001592.0
4          170200001714.0
                ...
2432945     1080740000358
2432946     1080740000357
2432947     1080740000356
2432948     1080740000355
2432949     1080740000353
Name: LINKED_SB_ACCNO, Length: 2432950, dtype: object

In [213]:
df['BANK_CIF'][df['BANK_CIF'].notna()][2337]

54004185258.0

In [16]:
people = pd.DataFrame(
    data=np.random.randint(low=0, high=11, size=(5,5)),
    columns=list('abcde'),
    index=["Joe", "Steve", "Wanda", "Jill", "Trey"]
)
people

        a   b  c   d  e
Joe     7   6  6   6  9
Steve  10  10  7  10  0
Wanda   3   1  1   8  4
Jill    4   0  2   5  7
Trey    5   1  9   3  8

In [27]:
people.groupby(by={'a': 'red', 'b': 'red'}, axis='columns').sum()

C:\Users\1987698\AppData\Local\Temp/ipykernel_19416/2692128095.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  people.groupby(by={'a': 'red', 'b': 'red'}, axis='columns').sum()

       red
Joe     13
Steve   20
Wanda    4
Jill     4
Trey     6

In [41]:
df = pd.DataFrame({
    'candidate': range(10),
    'age': np.random.randint(0, 150, 10),
})

df

   candidate  age
0          0  100
1          1   78
2          2   73
3          3   64
4          4   15
5          5   61
6          6   51
7          7  144
8          8   80
9          9  146

In [58]:
pd.cut?

Signature:
pd.cut(
    x,
    bins,
    right: 'bool' = True,
    labels=None,
    retbins: 'bool' = False,
    precision: 'int' = 3,
    include_lowest: 'bool' = False,
    duplicates: 'str' = 'raise',
    ordered: 'bool' = True,
)
Docstring:
Bin values into discrete intervals.

Use `cut` when you need to segment and sort data values into bins. This
function is also useful for going from a continuous variable to a
categorical variable. For example, `cut` could convert ages to groups of
age ranges. Supports binning into an equal number of bins, or a
pre-specified array of bins.

Parameters
----------
x : array-like
    The input array to be binned. Must be 1-dimensional.
bins : int, sequence of scalars, or IntervalIndex
    The criteria to bin by.

    * int : Defines the number of equal-width bins in the range of `x`. The
      range of `x` is extended by .1% on each side to include the minimum
      and maximum values of `x`.
    * sequence of scalars : Defines the bin edges allowing for non-uniform
      width. No extension of the range of `x` is done.
    * IntervalIndex : Defines the exact bins to be used. Note that
      IntervalIndex for `bins` must be non-overlapping.

right : bool, default True
    Indicates whether `bins` includes the rightmost edge or not. If
    ``right == True`` (the default), then the `bins` ``[1, 2, 3, 4]``
    indicate (1,2], (2,3], (3,4]. This argument is ignored when
    `bins` is an IntervalIndex.
labels : array or False, default None
    Specifies the labels for the returned bins. Must be the same length as
    the resulting bins. If False, returns only integer indicators of the
    bins. This affects the type of the output container (see below).
    This argument is ignored when `bins` is an IntervalIndex. If True,
    raises an error. When `ordered=False`, labels must be provided.
retbins : bool, default False
    Whether to return the bins or not. Useful when bins is provided
    as a scalar.
precision : int, default 3
    The precision at which to store and display the bins labels.
include_lowest : bool, default False
    Whether the first interval should be left-inclusive or not.
duplicates : {default 'raise', 'drop'}, optional
    If bin edges are not unique, raise ValueError or drop non-uniques.
ordered : bool, default True
    Whether the labels are ordered or not. Applies to returned types
    Categorical and Series (with Categorical dtype). If True,
    the resulting categorical will be ordered. If False, the resulting
    categorical will be unordered (labels must be provided).

Returns
-------
out : Categorical, Series, or ndarray
    An array-like object representing the respective bin for each value
    of `x`. The type depends on the value of `labels`.

    * None (default) : returns a Series for Series `x` or a
      Categorical for all other inputs. The values stored within
      are Interval dtype.

    * sequence of scalars : returns a Series for Series `x` or a
      Categorical for all other inputs. The values stored within
      are whatever the type in the sequence is.

    * False : returns an ndarray of integers.

bins : numpy.ndarray or IntervalIndex.
    The computed or specified bins. Only returned when `retbins=True`.
    For scalar or sequence `bins`, this is an ndarray with the computed
    bins. If set `duplicates=drop`, `bins` will drop non-unique bin. For
    an IntervalIndex `bins`, this is equal to `bins`.

See Also
--------
qcut : Discretize variable into equal-sized buckets based on rank
    or based on sample quantiles.
Categorical : Array type for storing data that come from a
    fixed set of values.
Series : One-dimensional array with axis labels (including time series).
IntervalIndex : Immutable Index implementing an ordered, sliceable set.

Notes
-----
Any NA values will be NA in the result. Out of bounds values will be NA in
the resulting Series or Categorical object.

Reference :ref:`the user guide <reshaping.tile.cut>` for more examples.

Examples
--------
Discretize into three equal-sized bins.

>>> pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3)
... # doctest: +ELLIPSIS
[(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], ...
Categories (3, interval[float64, right]): [(0.994, 3.0] < (3.0, 5.0] ...

>>> pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3, retbins=True)
... # doctest: +ELLIPSIS
([(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], ...
Categories (3, interval[float64, right]): [(0.994, 3.0] < (3.0, 5.0] ...
array([0.994, 3.   , 5.   , 7.   ]))

Discovers the same bins, but assign them specific labels. Notice that
the returned Categorical's categories are `labels` and is ordered.

>>> pd.cut(np.array([1, 7, 5, 4, 6, 3]),
...        3, labels=["bad", "medium", "good"])
['bad', 'good', 'medium', 'medium', 'good', 'bad']
Categories (3, object): ['bad' < 'medium' < 'good']

``ordered=False`` will result in unordered categories when labels are passed.
This parameter can be used to allow non-unique labels:

>>> pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3,
...        labels=["B", "A", "B"], ordered=False)
['B', 'B', 'A', 'A', 'B', 'B']
Categories (2, object): ['A', 'B']

``labels=False`` implies you just want the bins back.

>>> pd.cut([0, 1, 1, 2], bins=4, labels=False)
array([0, 1, 1, 3])

Passing a Series as an input returns a Series with categorical dtype:

>>> s = pd.Series(np.array([2, 4, 6, 8, 10]),
...               index=['a', 'b', 'c', 'd', 'e'])
>>> pd.cut(s, 3)
... # doctest: +ELLIPSIS
a    (1.992, 4.667]
b    (1.992, 4.667]
c    (4.667, 7.333]
d     (7.333, 10.0]
e     (7.333, 10.0]
dtype: category
Categories (3, interval[float64, right]): [(1.992, 4.667] < (4.667, ...

Passing a Series as an input returns a Series with mapping value.
It is used to map numerically to intervals based on bins.

>>> s = pd.Series(np.array([2, 4, 6, 8, 10]),
...               index=['a', 'b', 'c', 'd', 'e'])
>>> pd.cut(s, [0, 2, 4, 6, 8, 10], labels=False, retbins=True, right=False)
... # doctest: +ELLIPSIS
(a    1.0
 b    2.0
 c    3.0
 d    4.0
 e    NaN
 dtype: float64,
 array([ 0,  2,  4,  6,  8, 10]))

Use `drop` optional when bins is not unique

>>> pd.cut(s, [0, 2, 4, 6, 10, 10], labels=False, retbins=True,
...        right=False, duplicates='drop')
... # doctest: +ELLIPSIS
(a    1.0
 b    2.0
 c    3.0
 d    3.0
 e    NaN
 dtype: float64,
 array([ 0,  2,  4,  6, 10]))

Passing an IntervalIndex for `bins` results in those categories exactly.
Notice that values not covered by the IntervalIndex are set to NaN. 0
is to the left of the first bin (which is closed on the right), and 1.5
falls between two bins.

>>> bins = pd.IntervalIndex.from_tuples([(0, 1), (2, 3), (4, 5)])
>>> pd.cut([0, 0.5, 1.5, 2.5, 4.5], bins)
[NaN, (0.0, 1.0], NaN, (2.0, 3.0], (4.0, 5.0]]
Categories (3, interval[int64, right]): [(0, 1] < (2, 3] < (4, 5]]
File:      c:\users\1987698\appdata\roaming\python\python310\site-packages\pandas\core\reshape\tile.py
Type:      function

In [57]:
    pd.cut(df['age'], bins=[0, 18, 200], labels=['eligible', 'not eligible'])

0    not eligible
1    not eligible
2    not eligible
3    not eligible
4        eligible
5    not eligible
6    not eligible
7    not eligible
8    not eligible
9    not eligible
Name: age, dtype: category
Categories (2, object): ['eligible' < 'not eligible']

In [113]:
df = df.set_index('candidate')

In [133]:
eligible = lambda x: 'eligible' if x['age'] > 18 else 'not eligible'

In [134]:
df.groupby(eligible).count()

TypeError: 'int' object is not subscriptable