# Playground

In [2]:
import numpy as np
import pandas as pd

In [4]:
df =pd.DataFrame({'A': [1, 2, 3]})

In [11]:
df['A'].apply(lambda x: (x- 1, x + 1))

0    (0, 2)
1    (1, 3)
2    (2, 4)
Name: A, dtype: object

In [64]:
time_index = pd.date_range(start='06/06/2007', periods=100000, freq='30s')

In [65]:
data = np.random.randint(low=1, high=11, size=100000)

In [66]:
df = pd.DataFrame(data=data , index=time_index)

In [88]:
df.resample('3m').sum()

                 0
2007-06-30  396619
2007-09-30  154108

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"a": [0, 1, 0, 1]})

In [5]:
from sklearn.preprocessing import StandardScaler
StandardScaler().fit_transform(df)

array([[-1.],
       [ 1.],
       [-1.],
       [ 1.]])