# Generating Simulated Datasets

In [1]:
import pandas as pd
from sklearn.datasets import make_regression, make_classification

### Regression Dataset

In [2]:
features, target, coefficients = make_regression(
    n_samples = 20,
    n_features = 5,
    n_informative = 3,
    n_targets = 1,
    noise = 0.0,
    coef = True,
    random_state = 1
)

In [3]:
pd.DataFrame(features).head()

          0         1         2         3         4
0 -0.012665 -1.117310  0.742044  0.234416  1.659802
1 -0.691661 -0.396754 -0.671246 -0.687173 -0.845206
2 -0.683728 -0.122890  0.530355 -0.935769 -0.267888
3  0.119009 -0.670662  1.129484  0.377564  0.121821
4 -2.301539  1.744812 -0.249370 -0.761207  0.319039

In [4]:
target

array([ -24.11546086, -130.55304526, -140.75806622,   16.19711223,
       -183.81740444,   31.99961203, -122.30155022,  160.29208908,
       -103.5902835 ,  137.35843225,   10.26066598,   33.4239142 ,
         -9.62047834,   -3.32980265, -171.26735584,  169.03456131,
       -114.43102714,  -88.09671111,   71.53934755,   61.76429314])

In [5]:
coefficients

array([80.71051956, 38.78606441,  0.        , 86.35418546,  0.        ])

### Classification Dataset

In [6]:
features, target = make_classification(
    n_samples = 20,
    n_features = 5,
    n_informative = 3,
    n_redundant = 0,
    n_classes = 2,
    weights = [.25, .75],
    random_state = 1
)

In [7]:
pd.DataFrame(features).head()

          0         1         2         3         4
0  1.430633  0.026831  1.484343  0.347305 -0.641126
1  2.746533 -0.369316  0.746900 -0.307012 -1.167295
2 -2.358119 -0.592445  0.926174 -0.320982  0.882003
3 -0.215751 -0.493911  1.629769 -0.361200 -0.141446
4  1.326153 -0.395713 -0.076026 -1.514356 -0.712432

In [8]:
target

array([0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1])