# KCCB Maagement Information System

In [36]:
import pandas as pd

In [37]:
df = pd.read_excel('List_of_Reports_I&S_Section.xlsx')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SR. NO.       84 non-null     int64
 1   REPORT NAME   84 non-null     object
 2   SECTION       84 non-null     object
 3   FREQUENCY     84 non-null     object
 4   REPORTS TYPE  84 non-null     object
dtypes: int64(1), object(4)
memory usage: 3.4+ KB

In [39]:
df = df.drop(columns=["SR. NO.", "SECTION"])

In [40]:
import re
df['REPORT NAME'] = df['REPORT NAME'].str.replace(r'\.txt(.gz)?|_\d{2}-\w{3}-\d{4}|\.zip', '', regex=True, flags=re.IGNORECASE)

In [41]:
df = df.join(df['FREQUENCY'].str.get_dummies('/').astype('boolean').add_prefix('Generated '))
df = df.drop(columns=['FREQUENCY'])

In [42]:
df.sort_values(by='REPORTS TYPE')

,REPORT NAME,REPORTS TYPE,Generated DAILY,Generated MONTHLY,Generated QUATERLY,Generated WEEKLY
0,KCCB_YEILD_ON_ASSETS,ADHOC,False,True,False,False
71,REPORT_OF_PMSVAnidhi,ADHOC,False,False,True,False
70,15H_SUBMIT_ACCTWISE,ADHOC,False,False,True,False
69,15G_SUBMIT_ACCTWISE,ADHOC,False,False,True,False
43,CONSOLIDATED_REPORT_FOR_LIST_OF_NON_OPERATED_A...,ADHOC,False,True,False,False
...,...,...,...,...,...,...
56,ACCOUNT PERSION RELATION,STR,False,True,False,False
53,TC2,STR,False,True,False,False
52,TC1,STR,False,True,False,False
50,KC1,STR,False,True,False,False
54,TS1,STR,False,True,False,False

In [43]:
df['REPORT NO'] = df.groupby('REPORTS TYPE').cumcount() + 1

In [44]:
df = df.set_index(['REPORTS TYPE', 'REPORT NO' ]).sort_index(level=0)

In [45]:
df.to_excel(excel_writer="MIS.xlsx", sheet_name="Report Group")